@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  background-color: #f2ebe3;
}

a {
  text-decoration: none;
  display: inline-block;
}

.attribution {
  line-height: 1.5;
}

@media (max-width: 375px) {
  body {
    height: auto;
  }
  br {
    content: "";
    display: none;
  }
}

.btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  font-size: 0.875rem;
  border-radius: 8px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.lh-lg {
  line-height: 1.64285;
}

.text-lg {
  font-size: 2rem;
}

.text-sm {
  font-size: 0.75rem;
}

.text-700 {
  font-weight: 700;
}

.text-500 {
  font-weight: 500;
}

.text-special {
  font-family: "Fraunces", serif;
}

.text-primary {
  color: #3c8067;
}

.text-black {
  color: #1c232b;
}

.text-gray {
  color: #6c7289;
}

.text-white {
  color: white;
}

.bg-primary {
  background: #3c8067;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-29 {
  margin-bottom: 29px;
}

.card {
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
}

.card .subtitle {
  letter-spacing: 5px;
}

.card .pic {
  width: 300px;
  background: center/cover url(../img/image-product-desktop.jpg);
}

.card .content {
  width: 300px;
  padding: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .price {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.card .price h2 {
  margin-right: 19px;
}

.card .price span {
  text-decoration: line-through;
}

.card .btn-addCart::before {
  content: "";
  display: inline-block;
  margin-right: 11.61px;
  background: center url(../img/icon-cart.svg) no-repeat;
  width: 14.39px;
  height: 16px;
}

.card .btn-addCart:active {
  background-color: #1a4032;
}

@media (max-width: 375px) {
  .card {
    margin: 28px 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 343px;
  }
  .card h1 {
    margin-bottom: 16px;
  }
  .card .subtitle {
    margin-bottom: 13px;
  }
  .card .pic {
    background: center/cover url(../img/image-product-mobile.jpg);
    width: 343px;
    height: 240px;
  }
  .card .content {
    padding: 24px;
    width: 343px;
  }
  .card .price {
    margin-bottom: 20px;
  }
  .card p {
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=all.css.map */