.card {
  background-color: $white;
  border-radius: 16px;
  overflow: hidden;
  .subtitle {
    letter-spacing: 5px;
  }
  .pic {
    width: 300px;
    background: center/cover url(../img/image-product-desktop.jpg);
  }
  .content {
    padding: 32px;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
  }
  .price {
    align-items: center;
    margin-bottom: 30px;
    h2 {
      margin-right: 19px;
    }
    span {
      text-decoration: line-through;
    }
  }
  .btn-addCart {
    &::before {
      content: "";
      display: inline-block;
      margin-right: 11.61px;
      background: center url(../img/icon-cart.svg) no-repeat;
      @include size(14.39px, 16px);
    }
    &:active {
      background-color: #1a4032;
    }
  }
}
