.card {
  background-color: $white;
  border-radius: 16px;
  overflow: hidden;
  .subtitle {
    letter-spacing: 5px;
  }
  .pic {
    width: 300px;
    background: center/cover url(../img/image-product-desktop.jpg);
  }
  .content {
    width: 300px;
    padding: 32px;
    flex-direction: column;
    justify-content: space-between;
  }
  .price {
    align-items: center;
    margin-bottom: 30px;
    h2 {
      margin-right: 19px;
    }
    span {
      text-decoration: line-through;
    }
  }
  .btn-addCart {
    &::before {
      content: "";
      display: inline-block;
      margin-right: 11.61px;
      background: center url(../img/icon-cart.svg) no-repeat;
      @include size(14.39px, 16px);
    }
    &:active {
      background-color: #1a4032;
    }
  }
}

@include mobile {
  .card {
    margin: 28px 16px;
    flex-direction: column;
    width: 343px;
    h1 {
      margin-bottom: 16px;
    }
    .subtitle {
      margin-bottom: 13px;
    }
    .pic {
      background: center/cover url(../img/image-product-mobile.jpg);
      @include size(343px, 240px);
    }
    .content {
      padding: 24px;
      width: 343px;
    }
    .price {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 24px;
    }
  }
}
