.text-black {
  color: $black;
}

.text-primary {
  color: $primary-color;
}

.text-gray {
  color: $gray;
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.bg-primary {
  background: $primary-color;
}

.d-flex {
  display: flex;
}

.text-lg {
  font-size: 2rem;
  line-height: 1;
}

.text-sm {
  font-size: 0.75rem;
}

.text-700 {
  font-weight: 700;
}

.text-500 {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-special {
  font-family: "Fraunces", serif;
}

.lh-md {
  line-height: 1.64285;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-29 {
  margin-bottom: 29px;
}
