*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  background-color: $bg-color;
}

a {
  text-decoration: none;
  display: inline-block;
}

.attribution {
  line-height: 1.5;
}

@include mobile {
  body {
    height: auto;
  }
  br {
    content: "";
    display: none;
  }
}
